.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  padding-top: 12px;
  position: relative;
}

.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  opacity: 0.4;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer; 
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_liked {
  background-image: url(../images/like-icon-liked.svg);
  background-color: transparent;
  opacity: 1;
}

.card__like-btn_liked:hover {
  background-image: url(../images/like-active-hover_svg);
  visibility: visible;
}

.card__delete-btn {
  background-image: url(../images/delete-button.svg);
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 15px;    
  color: #FFFFFF; 
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-button-hover.svg);
  visibility: visible;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
    line-height: 1.2;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
