.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  padding: 0 20px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__content {
  margin: auto;
}

.modal__content_type_preview {
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.modal__image {
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  display: block;
}

.modal__caption {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background-color: #212121;
  width: fit-content;
  border-radius: 8px;
  white-space: nowrap;
  padding: 4px 8px;
  margin-top: 8px;
  margin-bottom: 0;
  position: absolute;
}

.modal__container {
  background-color: #fff;
  padding: 36px 50px 32px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 30px;
  right: 56px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #212121;
}

.modal__close_type_preview {
  background-image: url("../images/close-light.svg");
  top: -4px;
  right: -48px;
  opacity: 1;
  padding: 0;
  cursor: pointer;
  position: absolute;
}

.modal__close_type_preview:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 36px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  opacity: 0.7;
}

.modal__input {
  padding: 16px 11px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #212121;
  height: 52px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__submit-btn {
  width: 156px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border-radius: 8px;
  color: #fcf5e5;
  background-color: #212121;
  cursor: pointer;
  height: 52px;
  box-sizing: border-box;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 22px 12px 12px 12px;
  }

  .modal__image {
    max-width: 288px;
    border-radius: 4px;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 19.2px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 20px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
    gap: 8px;
  }

  .modal__input {
    font-size: 16px;
    line-height: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}
