.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  padding: 0 20px;
}

.modal__title {
  margin: 0 0 27px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__title_type_avatar {
  margin-bottom: 32px;
}

.modal__title_type_delete {
  font-size: 24px;
  margin-bottom: 32px;
}

.modal__label-title {
  opacity: 0.7;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__content {
  margin: auto;
}

.modal__content_type_preview {
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.modal__delete-btn_type_preview {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  background-color: #ff6565;
  color: #212121;
  padding: 18px 52px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.modal__delete-btn_type_preview:hover {
  background-color: #ff3333;
}

.modal__cancel-btn_type_preview {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  background-color: #ffffff;
  color: #212121;
  width: 156px;
  height: 52px;
  padding: 18px 49px;
  border-radius: 8px;
  margin-left: 20px;
  cursor: pointer;
  border: 1px solid #212121;
}

.modal__cancel-btn_type_preview:hover {
  background-color: #212121;
  color: #ffffff;
}

.modal__image {
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  display: block;
}

.modal__caption {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background-color: #212121;
  width: fit-content;
  border-radius: 8px;
  white-space: nowrap;
  padding: 4px 8px;
  margin-top: 8px;
  margin-bottom: 0;
  position: absolute;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 8px;
}

.modal__container_type_avatar {
  height: 298px;
}

.modal__container_type_delete {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  width: 630px;
  height: 172px;
}

.modal__close-btn {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #212121;
  background-image: url("../images/Close-icon.svg");
  opacity: 0.4;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_button {
  position: absolute;
  top: -10px;
  right: -50px;
  background-image: url("../images/close-light.svg");
  cursor: pointer;
  opacity: 1;
}

.modal__close-btn_type_preview {
  top: -4px;
  right: -48px;
  opacity: 1;
  padding: 0;
  cursor: pointer;
  position: absolute;
  background-image: url("../images/close-light.svg");
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 38px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  position: relative;
}

.modal__input {
  padding: 16px 11px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #212121;
  height: 52px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__input::placeholder {
  opacity: 0.3;
}

.modal__input:hover {
  border: 1px solid #212121;
}

.modal__label_type_avatar {
  margin-bottom: 32px;
  gap: 8px;
}

.modal__error {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  display: block;
  visibility: hidden;
  position: absolute;
  color: #ff0000;
  opacity: 0.7;
  top: calc(100% + 2px);
}

.modal__error_visible {
  visibility: visible;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__submit-btn {
  width: 156px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border-radius: 8px;
  color: #fcf5e5;
  background-color: #212121;
  cursor: pointer;
  height: 52px;
  box-sizing: border-box;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__submit-btn_disabled {
  gap: 8px;
  margin-top: 22px;
  border-radius: 8px;
  cursor: not-allowed;
  opacity: 0.5;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__container_type_avatar {
    min-height: 222px;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 19.2px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 20px;
  }

  .modal__pointer-img {
    display: none;
  }

  .modal__title_type_avatar {
    margin-bottom: 20px;
    line-height: 120%;
  }

  .modal__container_type_delete {
    padding: 12px;
    width: 300px;
    min-height: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .modal__title_type_delete {
    margin-bottom: 20px;
  }

  .modal__close-btn {
    width: 48px;
    height: 48px;
    right: 0;
    top: 8px;
  }

  .modal__close-btn_type_preview {
    top: -47px;
    right: 0;
  }

  .modal__delete-btn_type_preview {
    margin-bottom: 12px;
    width: 156px;
  }

  .modal__cancel-btn_type_preview {
    width: 156px;
    margin-left: 0;
  }

  .modal__close-btn_type_button {
    width: 40px;
    height: 40px;
    top: -48px;
    right: 0px;
  }

  .modal__label {
    gap: 8px;
  }

  .modal__label_type_avatar {
    margin-bottom: 20px;
  }

  .modal__input {
    font-size: 16px;
    line-height: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__submit-btn_type_avatar {
    margin-top: auto;
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .modal__image {
    max-width: 288px;
    border-radius: 4px;
  }
}
